<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/nav'); -%>
        <section class="w50">
            <div class="formData">
              <% if(typeof(errors)!='undefined' ){ 
                for(var error of errors){ %>
                <p class="errors">
                  <%= error.msg%>
                </p>
                <% } } %>
                  <% if(typeof(total)!='undefined' ){ %>
                    <p id="formResult">Order updated</p>
                    <table>
                      <tr>
                        <th>Name: </th>
                        <td>
                          <%= name %>
                        </td>
                      </tr>
                      <tr>
                        <th>Email: </th>
                        <td>
                          <%= email %>
                        </td>
                      </tr>
                      <tr>
                        <th>Phone: </th>
                        <td>
                          <%= phone %>
                        </td>
                      </tr>
                      <tr>
                        <th>PostCode: </th>
                        <td>
                          <%= postcode %>
                        </td>
                      </tr>
                      <tr>
                        <th>Lunch: </th>
                        <td>
                          <%= lunch %>
                        </td>
                      </tr>
                      <tr>
                        <th>Tickets: </th>
                        <td>
                          <%= tickets %>
                        </td>
                      </tr>
                      <tr>
                      <tr>
                        <th>Campus: </th>
                        <td>
                          <%= campus %>
                        </td>
                      </tr>
                      <tr>
                        <th>SubTotal: </th>
                        <td>
                          $<%= subTotal.toFixed(2) %>
                        </td>
                      </tr>
                      <tr>
                        <th>Tax: </th>
                        <td>
                          $<%= tax.toFixed(2) %>
                        </td>
                      </tr>
                      <th>Total: </th>
                      <td>$<%= total.toFixed(2) %>
                      </td>
                      </tr>
                    </table>
                    <% } %>
            </div>
          </section>
      </body>
  <%- include('layouts/footer'); -%>